body {
    margin: 0;
    padding: 80px 20px 20px 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('medias/bg.png');
    text-align: center;
}

#poeme {
    background-color: white;
    border: 1px solid #ccc;
    width: 400px;
    padding: 30px;
    margin: 0 auto;
}

#poeme p {
    font-style: italic;
    font-size: 14px;
    vertical-align: middle;
}

#lettrine {
    font-size: 26px;
    font-weight: bold;
}

img {
    margin-top: 10px;
}

h1 {
    margin-bottom: 30px;
}